.global-label {
  color: rgb(83, 83, 83);
  font-size: 14px;
  margin-right: 10px;
}
.global-step {
  padding: 20px;
}

.global-previous {
  margin-top: 10px;
  margin-right: 10px;
}

.global-warn {
  color: red;
}

.visible {
  display: block;
}
.hidden {
  display: none;
}