
.global-label {
  color: rgb(83, 83, 83);
  /* font-size: 14px; */
  /* margin-right: 10px; */
}
.global-step {
  padding: 40px 20px;
}

.global-previous {
  margin-right: 10px;
}

.global-warn {
  color: red;
}

.visible {
  display: block;
}
.hidden {
  display: none;
}